    h1,h2 {
    font-family: 'Georgia', serif;
    color:#3D342E
}
   html, body {
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
    height: 100%;
    
}
    body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }


    p {
    font-family: 'Georgia', serif;
    color:#5A4D3C
}
button {
    font-family: 'Georgia', serif;
    background-color: #8B4513;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
