    h1,h2 {
    font-family: 'Georgia', serif;
    color:#3D342E
}
   html, body {
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
    min-height: 100vh;
    
}
    body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }


    p {
    font-family: 'Georgia', serif;
    color:#5A4D3C
}
    .btn-whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #25D366;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    .btn-whatsapp:hover {
    transform: scale(1.1);
}
   